@use './partials/global';
@use './partials/header';
@use './partials/footer';
@use './partials/colors';


.container {
  position: relative;
}

.content-container {
  position: relative;
}

.background-image{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  max-height:100%;
  max-width:100%;
  height:auto;
}

.destination {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  position: relative;

  width:100vw;
  height:85vh;
  
  &__title {
    color: white;
    margin: 4rem 4rem 1rem 4rem;
  }

  &__card-container{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  &__cards {
    background-color: white;
    margin: 1rem;
    padding: .75rem 0.75rem 2.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: .35rem;

    &__day {
      font-weight: 600;
      font-size: 1.125rem;
      text-align: center;
      border-bottom: 0.2rem solid black;
      margin-bottom: 1rem;
    }
    &__todo {
      background-color: colors.$color-background;
      margin: 0.45rem 0rem;
      font-size: 1rem;
      padding: 0.5rem 4rem;
      text-align: center;
      border-radius: .35rem;
    }
  }
  



  
}
