@use './partials/global';
@use './partials/header';
@use './partials/footer';
@use './partials/colors';


.destination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add8e6;
  margin-top: 3.25rem;



  &__background-image {
    min-width: 100%;
    min-height: 100%;
    max-height: fit-content;
    max-width:100%;
    width:100vw;
    height:85vh;
    object-fit: cover;

  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;

  }

  &__front-info {
    position: relative;
  }

  &__title {
    position: relative;
    color: white;
    margin: 4rem 4rem 1rem 0rem;
    right: 5rem;
  }

  &__card-container{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  &__cards {
    background-color: white;
    margin: 1rem;
    padding: .75rem 0.75rem 2.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: .35rem;
    list-style-type: none;

    &__day {
      font-weight: 600;
      font-size: 1.125rem;
      text-align: center;
      border-bottom: 0.2rem solid black;
      margin-bottom: 1rem;
    }
    &__todo {
      background-color: colors.$color-background;
      margin: 0.45rem 0rem;
      font-size: 1rem;
      padding: 0.5rem 4rem;
      text-align: center;
      border-radius: .35rem;
    }
  }
}
