@use './partials/global';
@use './partials/header';
@use './partials/footer';
@use './partials/colors';

.hero {
  background-color: colors.$color-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;

  &__info { //left side info container
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
  }

  &__title {
    color: colors.$color-primary;
  }

  &__description {
    padding-right: 10rem;
  }
  &__button {
    background-color: colors.$color-accent;
    width: fit-content;
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 1.25rem;
  }

  &__img {
    margin-right: 3rem;
    width: 25rem;
  }

}


.recommendations {
  margin: 2rem 2rem;
  &__title {
    margin-bottom: 2rem;
  }
  &__pictures {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__location {
    margin-left: 2rem;
    max-width: 15rem;
    border-radius: 0.75rem;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.25);
  }
}


