@use './partials/global';
@use './partials/header';
@use './partials/footer';
@use './partials/colors';



.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$color-background;
  padding: 2rem 0rem;
  margin-top: 3.25rem;

  &__info { //left side info container
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
    padding-right: 3rem;
    gap: 2rem;

  }

  &__title {
    color: colors.$color-primary;
    text-align: left;
  }

  &__description {
    text-align: left;
    padding-right: 24rem;
  }

  &__button {
    width: fit-content;
    color: white;
    background-color: colors.$color-accent;
    border-radius: 1.25rem;
    padding: 0.5rem 2rem;
  }

  &__img {
    width: 25rem;
    margin-right: 3rem;
  }
}



.recommendations {
  margin: 2rem 2rem;

  &__title {
    color: colors.$color-primary;
    margin-bottom: 2rem;
  }

  &__pictures {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__location {
    max-width: 16rem;
    margin-left: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__location-container {
    position: relative;
    width: fit-content;
  }

  &__text {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    left: 11rem;
    bottom: 0.85rem;
  }
}


