@use './colors';


.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: colors.$color-background;
  padding: 2rem 6rem;

  &__title {
    margin-bottom: 1rem;
    color: colors.$color-primary;
    font-weight: bold;
  }

  &__desciption {
    margin-bottom: 0.5rem;
    color: colors.$color-accent;
    font-size: .6rem;
  }

  &__operation {
    display: flex;
  }

  &__hours {
    margin-left: 2.5rem;
  }

  &__icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-top: 1rem;

    &--margin {
      margin-left: 1rem;
    }

  }

}