@use './colors';



.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin:0;
  background-color: #FFFFFF;
  padding: 1rem;

  &__logo{
    text-decoration: none;
  }

  &__title {
    margin-left: 3rem;
    font-size: 1.45rem;
    color: colors.$color-primary;
  }

  &__links {
    margin-right: 3rem;
    display: flex;
    list-style-type: none;
  }

  &__site {
    text-decoration: none;
    color: black;
    margin-right: 1rem;

    &--active{
      border-bottom: 3px solid colors.$color-accent;
    }

    &:hover {
      border-bottom: 3px solid colors.$color-accent;
    }

  }

}