@use './colors';

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 1rem 0rem;
  background-color: #FFFFFF;
  &__title {
    margin-left: 3rem;
    font-size: 1.25rem;
    color: colors.$color-primary;
  }

  &__links {
    margin-right: 3rem;
    display: flex;
    list-style-type: none;

  }
  &__site {
    text-decoration: none;
    color: black;
    margin-right: 1rem;

    &--active{
      border-bottom: 3px solid colors.$color-accent;
    }

    &:hover {
      border-bottom: 3px solid colors.$color-accent;
    }

  }
}
